body{
    text-align: center;
}
.heart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 250px;
    
}
.redy{
    
    
    border: 3px solid black;
    border-radius: 5px;
   /* width: 300px;*/
     background-color:rgb(199, 250, 183) ;
    
}
.if{
    text-align: center;
    
    }

ul{
    
    text-align: center;
    font-size: large;
}    

.list1{
   background-color: yellow;
  /*  width: 450px;*/
    text-align: center;
    
    
}
.list2{
    background-color:rgb(199, 250, 183) ;
   /* width: 450px;*/
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 21px;

}
.lista1{
    list-style-type:square;
    font-size: 21px;
}

.lista{
    list-style-type: upper-roman;
}
.no{
    text-align: center;
    background-color: rgb(246, 123, 123);
 /*   width: 200px;*/
}
.if2{
    border-bottom: 6px solid red;
}
.what{
    font-family: 'Segoe UI',;
}
.en1{
  font-family:'cursive''Brush Script MT';
}
.words{
    font-family: 'Arial Narrow Bold';
    font-size: 19px;
}
.if1{
    background-color: lightgray;
}
.if3{
    border-style:solid;
    background-color: rgb(218, 255, 95);
}
.p.e{
    font-size: medium;
}
.button{
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.soon{
    text-align: center;
    font-size: 80px;
}
.down{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 170px;

}
.couples{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 350px;

}
.q{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 200px;

}
.r{
    border-bottom: 4px solid red;
    background-color: lightgray;

}

footer{
    background-image: url(./back.jpg);
    background-size: cover;
    width: auto;
    height: 450px;
    
}
.text {
border-radius: 10px;
background-color: rgb(222, 255, 179);
}
.phone{
    border-radius: 10px;
    background-color: rgb(222, 255, 179);
}
.path{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 350px;
    border-radius: 20px;
}
.ped{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 250px;
    border-radius: 20px;
} 
.ul1{
    background-color: rgb(68, 241, 204);
    border-radius: 6px;
}
.p1{
    border-style: dashed dotted solid double;
    border-radius: 6px;
    background-color: rgb(255, 182, 253);
}
.complex{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 250px;
    border-radius: 20px;
}
.p2{
    
    border-bottom: 5px solid red;
    border-radius: 20px;
    background-color: lightgray;

}
.friends{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 350px;
}
.p3{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.ul2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background-color: rgb(250, 194, 120);
    border-radius: 6px;
}
.advice{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 350px;
    border-radius: 20px;
}
.ul3{
    background-color: rgb(251, 145, 145);
    border-radius: 10px;
    
    
    
}
.b1{
    background-color: rgb(245, 238, 138);
    border-radius: 10px;
}
.p3{
    border: 5px solid red;
    border-radius: 20px;
    background-color: rgb(244, 250, 236);
}
.ul4{
    border-right: 15px solid red;
    border-radius: 15px;
}
.p4{
    border: 5px solid rgb(195, 243, 141);
    border-radius: 20px;
}
.p5{
    border: 5px solid rgb(246, 203, 62);
    border-radius: 20px;
}
.scam{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 350px;
    border-radius: 20px;
}
.side{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 350px;
    border-radius: 20px;
}
.end{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    width: 150px;
   
}
.ifrem{
    height: 350px;
    width: 350px;
}